<div  data-toggle-target="togglableElement" class="invisible">
 <%= simple_form_for [@fane, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Submit booking", class: "btn btn-primary" %>
  <% end %>
</div>
