<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ThompsonLV"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    <a href="https://soon.horse/">Contact</i></a>
    <a href="https://soon.horse/">Mentions légales</i></a>
    <a href="https://soon.horse/">Gestion des cookies</i></a>
    <a href="https://soon.horse/">CGV</i></a>
  </div>
</div>
