<h1>Sam et Nico sont méchants, nos app sont pépites</h1>
<img src="https://ca.slack-edge.com/T02NE0241-USKLH40MB-72b27869e09e-512" alt="">
<img src="https://ca.slack-edge.com/T02NE0241-US84RG659-a70a33d26514-512" alt="">
<h5>Pages#home</h5>
<p>Find me in app/views/pages/home.html.erb</p>
