.img-fluid {
  width: 100%; /* L'image occupe 100% de la largeur de son conteneur */
  height: auto; /* Maintient le ratio d'aspect de l'image */
  display: block; /* Pour éviter l'espacement bas */
  height: 400px;
  object-fit: cover;
  transform: scaleX(-1);
}

.ban {
  position: relative; /* Permet de positionner le contenu à l'intérieur */
  width: 100%; /* Prend 100% de la largeur disponible */
  overflow: hidden; /* Cache le contenu qui pourrait dépasser */
  margin-top: 100px;
}

.slogan-overlay {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Choisissez la couleur qui convient */
  background-color: $blue; /* Arrière-plan semi-transparent pour le slogan */
  padding: 10px;
  margin-left: 20px;
  width: 80%; /* Ajustez la largeur du slogan */
  max-width: 500px; /* Limitez la largeur maximale du slogan */
  border-radius: 12px; /* Coins arrondis pour l'arrière-plan */
}

.slogan_1 {
  opacity: none;
}
