
/* Styles pour le bouton .go_ventilo */
.btn {
  width: auto !important;
  border-radius: 10px !important;
  margin: 5px !important;
  border: none !important;
  color: white !important;
  background-color: $blue !important;
}

#btn_add {
  width: 25% !important;
  border-radius: 10px !important;
  margin: 5px !important;
  border: none !important;
  color: white !important;
  background-color: $blue !important;
}

.btn-outline-primary{
  border: none;
  background-color: $blue !important;
  width: auto;
}

// .btn-outline-primary {
//   background-color: white;
//   border: 1px solid black !important;
//   color: black;
//   }

.btn-primary {
  background-color: $blue !important;
  color: white !important;
  width: auto;
}

.fa-regular {
  color: rgb(56, 56, 56);
  gap: 8px;
  margin:36px;
}

.btn-width{
  width: 200px !important;
}
