
/* Styles pour le bouton .go_ventilo */
.btn {
  width: 95% !important;
  border-radius: 10px !important;
  margin: 5px !important;
  border: none !important;
  color: white !important;
  background-color: $blue !important;
}


.btn-danger{
  width: 95%;
  border-radius: 10px;
  margin: 5px;
  border: none;
  color: white !important;
  background-color: red !important;
  .delete:hover {
    background-color: #8c1212;
  }
}

.btn-outline-primary{
  border: none;
  background-color: $blue !important;
  width: auto;
}

.btn-primary {
  background-color: $blue !important;
  color: white !important;
  width: auto;
}

.fa-regular {
  color: rgb(56, 56, 56);
  gap: 8px;
  margin:36px;
}
