
/* Styles pour le bouton .go_ventilo */
.btn  {
 width: 95%;
 border-radius: 10px;
 margin: 5px;
 border: none;
  .go_ventilo:hover {
    background-color: #45a049;
  }
}


.btn-danger{
  width: 95%;
  border-radius: 10px;
  margin: 5px;
  border: none;
  color: white;
  background-color: red !important;
  .delete:hover {
    background-color: #8c1212;
  }
}

.btn-outline-primary{
  width: auto;
}

.btn-primary {
  width: auto;
}
