.card_index{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
  padding: 20px;
  grid-gap: 40px;
  transition: box-shadow 0.3s, background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Effet d'ombre au survol */
  }

  .card.active {
    background-color: #f0f0f0; /* Changement de couleur temporaire au clic */
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.card{
  border-radius: 10px;
  border-radius: 0px 0px 15px 15px;
  width: auto;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.btn {
  width: 100%;
  border-radius: 15px;
  background: rgb(144, 69, 144) !important;
}

.card-title {
  font-weight: bold;
  text-align: center;
}

.bulle {
  background-color: rgb(166, 173, 177);
  text-align: center;
  padding: 5%;
  border-radius: 40px;
}

.bulle_g {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

}


// POUR LES MY_BOOKINGS
.card-product {
  overflow: hidden;
  width: 600px;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  img {
    height: 100%;
    width: auto;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

}

.card-product .card-product-infos {
  padding: 16px;
}

.container_index {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 20px;

}

.map {
  border-radius: 10px;
  position: sticky;
  top: 0;
  height: 1000px;
}
