.card_index{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  margin: 10px;
  padding: 20px;
  grid-gap: 40px;
  transition: box-shadow 0.3s, background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Effet d'ombre au survol */
  }

  .card.active {
    background-color: #f0f0f0; /* Changement de couleur temporaire au clic */
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.card{
  border-radius: 10px;
  border-radius: 0px 0px 15px 15px;
  width: auto;

  img {
    width: 100%;
    object-fit: contain;
    background-color: white;
    padding-top: 8px;
  }
}

.card-title {
  font-weight: bold;
  text-align: center;
}

.bulle_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.bulle {
  background-color: $blue;
  text-align: center;
  border-radius: 40px;
  color : white
}

.container_index {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 20px;

}

.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 156px;
  border-radius: 4px;

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}

.card-product-image {
  padding: 24px;

  > img {
    height: 40%;
    width: 40%;
    object-fit: cover;
  }
}

.card-product-description {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-product-infos {
  width: 200px;
  margin-left: 16px ;
}

.card-product-infos-title {
  background-color: $blue;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 12px;
  text-align: center;
  border-radius: 12px 12px 0 0;
}

.card-product-infos-data {
  background-color: rgb(227, 226, 226);
  font-size: 24px;
  font-weight: bold;
  padding: 12px;
  text-align: center;
  border-radius: 0 0 12px 12px;
  margin-bottom: 12px;
}
