.card_index{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
  padding: 20px;
  grid-gap: 40px;
  border-radius: 0px 0px 15px 15px;
}

.card{
  border-radius: 10px;
}

.btn {
  width: 100%;
  border-radius: 15px;
}

.card-title {
  font-weight: bold;
  text-align: center;
}

.bulle {
  background-color: rgb(133, 128, 128);
  text-align: center;
  width: 70%;
  border-radius: 15px;
  margin: 5px;
}

.bulle_g {
  display: flex;
  flex-direction: row;
  align-items: center;
}
