.card_index{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
  padding: 20px;
  grid-gap: 40px;
  border-radius: 20px;
}

.card{
  border-radius: 10px;
}

.titre_home {
  text-align: center;
}
