.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#map {
  border-radius: 10px;
  position: sticky;
  top: 100px !important;
  height: calc(100vh - 110px) !important;
}
