.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 10px;
}

.titre_logo {
display: flex;
justify-content: row;
align-items: center;
}

.titre_nav {
  color: rgb(144, 69, 144);
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
}

.form-control {
  width: 350px;
}

.navbar{
  z-index: 500;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
