.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 10px;
}

.titre_logo {
display: flex;
justify-content: row;
align-items: center;
}

.titre_nav {
  color: rgb(144, 69, 144);
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
}
