.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.barre {
  width: 400px; ;
}

.container {
  margin: 20px;
}

.form-actions {
  background-color: rgb(93, 167, 247);
  width: 100px;
  border-radius: 10px;
  box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2) ;
  text-align: center;
}
