
.img_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 97%;
  margin: 0 auto;
  overflow: hidden;
}

.img_client {
  width: 70%;
  height: auto;
  border-radius: 20px;
}

.title_show {
  font-weight: bold;
  margin: 30px;
  align-items: center;
}

.brand {
  background-color: rgb(72, 75, 77);
  text-align: center;
  width: 150px;
  border-radius: 15px;
  margin: 30px;
  color: white;
}

.marque {
  flex-direction:row;
  align-items: center;
  font-size: 16px;
}

.vent {
  font-weight: bold;
}


.btn-outline-primary {
background-color: white;
border: 1px solid black !important;
color: black;
}

.start {
  flex-direction:row;
  align-items: center;
  font-size: 16px;
}

.start_date {
  background-color: rgb(72, 75, 77);
  text-align: center;
  width: 150px;
  border-radius: 15px;
  margin: 30px;
  color: white;
}

.end {
  flex-direction:row;
  align-items: center;
  font-size: 16px;
}

.end_date {
  background-color: rgb(72, 75, 77);
  text-align: center;
  width: 150px;
  border-radius: 15px;
  margin: 30px;
  color: white;
}

.container_show {
  display: grid;
  align-items: center;
}

.police {
  font-weight: bold;
  background-color: rgb(152, 151, 151);
  border-radius: 15px 15px 0px 0px;

}

.content_show {
  margin: 10px;
  padding: 10px;
}

.vent{
  font-size: 18px;
}
