#la_team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
  background-color: white;
  padding: 48px;
}

.titre_team {
  margin-top: 52px;
  text-align: center;
  font-weight: bold;
}

.bd-placeholder-img {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;
  img {
    width: 100%;
  }
}

.img_center {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  p {
  text-align:justify;
  }
}

.img_container_1 {
  // width: 120px;
  // height: 120px;
  // border-radius: 50%;
  // overflow: hidden;
  // img {
  //   width: 100%;
  // }
}

h1 {
  font-weight: bold;
}
