<div class= "ban">
  <%= image_tag('banniere.jpg', class: 'img-fluid', alt: 'Bannière ventilo') %>
  <div class="slogan-overlay">
    <h2><strong>Rafraîchissez Votre Espace, Rafraîchissez Votre Vie.</strong></h2>
  </div>
</div>

</div>
<div class= "text-center">
<br>
  <h1>Les offres du moment!</h1>
  <br>
</div>
@
<div class= "card_index">
  <% @fanes.each do |fane| %>
    <div class="card">
      <% if fane.photos.attached? %>
        <%= cl_image_tag(fane.photos.first.key, crop: :fill) %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%=fane.title %></h5>
        <div class= "bulle_g">
          <p class= "bulle">Silencieux</p>
          <p class= "bulle">Connecté</p>
          <p class= "bulle">Économique</p>
        </div>
        <%= link_to "go" , fane_path(fane), class:"btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>
<div class= "banniere_2">
  <img src="https://c8.alamy.com/compfr/2c3jh46/banniere-avec-ventilateur-vert-ancien-soufflant-sur-des-feuilles-de-papier-blanches-vierges-objets-isoles-sur-un-fond-blanc-avec-espace-pour-le-texte-rendu-3d-2c3jh46.jpg" class="img-fluid" alt="bannière 2">
  <div class="slogan-banniere">
    <h2><strong>Un Vent de Fraîcheur à Chaque Instant : Nos Ventilateurs Redéfinissent le Confort.</strong></h2>
  </div>
</div>
